<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kronos.cbs.basu.cbsguide">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name="kronos.cbs.basu.cbsguide.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="kronos.cbs.basu.cbsguide.MainActivity"/>
        <activity android:name="kronos.cbs.basu.cbsguide.LoginActivity"/>
        <activity android:name="kronos.cbs.basu.cbsguide.RegisterActivity"/>
        <activity android:name="kronos.cbs.basu.cbsguide.SocitiesLauncher"/>
        <activity android:name="kronos.cbs.basu.cbsguide.InAppBrowser"/>
        <activity android:name="kronos.cbs.basu.cbsguide.MailActivity"/>
    </application>

</manifest>